@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-screen overflow-auto font-nunito-sans no-scrollbar;
  }
}

/* @layer components {} */

@layer utilities {
  .x-p {
    @apply px-16;
  }

  .mx-p {
    @apply px-4;
  }

   /* Custom utility to hide the scrollbar but allow scrolling */
  .no-scrollbar {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
}